body{
	background:#ffffff;
	font-family:'SourceSansPro-Light';
}
.container{	background:#ffffff;}
.row {margin-bottom: 0px;}
.row .row {margin-top: 20px;margin-bottom: 0;}
[class*="col-"] {
padding-top: 25px;
padding-bottom: 15px;
background-color: #eee;
background-color: rgba(86,61,124,.15);
border: 1px solid #ddd;
border: 1px solid rgba(86,61,124,.2);
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'nimbyx' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {content: "\f07a";}
.icon-bar-chart:before {content: "\f080";}
.icon-bar-chart-o:before {content: "\f080";}
.icon-credit-card:before {content: "\f09d";}
.icon-bars:before {content: "\f0c9";}

.icon-twitter:before {content: "\f099";}
.icon-facebook:before {content: "\f09a";}
.icon-facebook-f:before {content: "\f09a";}

.icon-navicon:before {content: "\f0c9";}
.icon-reorder:before {content: "\f0c9";}
.icon-linkedin:before {content: "\f0e1";}
.icon-newspaper-o:before {content: "\f1ea";}

.input-group-btn button.btn{
	font-family:'SourceSansPro-Semibold';
    background: #e36d1f;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 55px;
    color: #ffffff;
    width: 165px;
    border-color: #e36d1f;
    font-size: 21px;
}
input.signup-text{
    height: 55px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 35px;	
    font-size: 21px;
}
.btn-lg{
	font-family:'SourceSansPro-Semibold';
    background: #e36d1f;
    border-radius: 50px;
    color: #ffffff;
    font-size: 29px;
    border-color: #e36d1f;
}
.input-group-btn button.btn:hover, .btn-lg:hover{
	background: #ffffff;
	color: #e36d1f;
    
}

/* top banner */
.top-banner {
    background: url('../images/touchipad2.png') no-repeat;
    background-position: top;
}
.top-banner-panel{
	background: none;
	border: none;
}
.top-banner-panel h2{
	font-family: 'SourceSansPro-Regular';
	color: #006699;
}
.get-your-money {
    font-size:35px; 
    color:#006699; 
     
}
.get-your-money-customer {
    font-size:35px; 
    color:#006699; 
 
}
.get-your-money-nimbyx {
    font-weight:bold!important;
}
.pay-logo {
    background: url('../images/nimbyxpay.png') no-repeat;
    background-size:150px;
    height: 35px;
}
.search-div {
    height: 35px;
}
.search-div textarea {
    vertical-align:middle;
    width: 300px;
    height: 100%;
    padding:0px 0px 0px 0px!important;
    margin-right: 1px;
}
.search-div button {
    vertical-align:middle;
    height:100%;
    width:auto;
}
.horizontal-bar {
    background-color:#eee;
    height:5px;
    margin:5px 0px 5px 0px;
}
/* top banner */

/* menu bar*/
.menu-bar {
    background-color:#eee;
    width:100%;
    text-align:center;
}
.menu-bar ul {
    list-style:none;
    text-decoration:none;
}

.menu-bar li {
    border-right:1px solid gray;
    display:inline-block;
    margin:10px 10px 10px 10px;
}
.menu-bar a {
    text-decoration:none;
    margin-right:10px;
}
/* signup */
.signup{
	/*text-align: center;*/
	color: #ffffff;
	font-family: 'SourceSansPro-Regular';
	font-size: 18px;
}
.signup-btn-width {
    width:350px !important;
}
.signup-round {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.become-part {
    font-size:3em ;
    font-family:'SourceSansPro-Light';
}
.become-part-nimbyx {
    font-weight:bold!important;
    margin-right:10rem;
}
/* signup */

/* ui icons */
.round-button {
	width:230px;
	display: inline-block;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;    
    background: #4679BD; 
    /*box-shadow: 0 0 3px gray;*/
    box-shadow: 0 0 10px #373737;
}
.round-button-circle:hover {
	box-shadow: 2px 2px 12px #373737;
}
.round-button a {
    display: block;
    float: left;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: #ffffff;
    font-family: 'SourceSansPro-Semibold';
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
}
.btn-gold {background: #e3ce3b;}
.btn-orange {background: #f27036;}
.btn-blue { background: #3ec5ee;}
.btn-green {background: #5ebb4e;}
.round-button-circle span{
    font-size: 4em;
    color: #ffffff;
    display: block;
    line-height: 0em;
    margin-top: 40%; 
}
.round-button-circle span:hover{
	font-size:5em;
}
.quick-links{
	background: #64b0df;
	padding: 20px 0;
	padding-bottom: 80px;
}
.quick-links h4{
	font-family: 'SourceSansPro-Semibold';
}
.ui-links{
	text-align: center;
	border: none;
	background: #64b0df;
	margin-bottom: 30px;
}
.ui-links span.ui-caption{
	color:#ffffff;
    font-family:'SourceSansPro-Semibold';
    font-size:1.8em;
    font-weight:bold;	
    display: block;
    margin-top: 25px;
}
/* ui icons */

.sign-up-top{
	background-color: #006699;
    margin-top:10rem;
}
.signup-container{
	width: 510px;
    padding: 50px 0px;
    margin: 0 auto;
    text-align: center;	
}
.signup-container p{
	font-family: 'SourceSansPro-Regular';
	color: #ffffff;
	font-size: 26px;
}

/* ceo panel */
.ceo-bubble-container{
	background: none;	
}
.ceo-remarks{
	background: url('../images/ceo-large-bottom.png') no-repeat bottom right,
				url('../images/ceo-large-bg.png') repeat-x;
	min-height: 857px;
	position: relative;
}
.ceo-bubble{
	background: url('../images/ceo-speech-bubble-box.png') no-repeat;
	border: none;
	height: 270px;
	padding: 25px;
	margin-top: 30px;
	background-size: 100% 95% !important;
}
.ceo-bubble p{
	font-style: italic;
	font-size: 25px;
	color: #494953;
	line-height: 35px;
}
.ceo-bubble p span:first-child, .ceo-bubble p span:last-child{	
    display: block;
    width: 25px;
    height: 20px;	
}
.ceo-bubble p span:first-child{
	background: url('../images/ceo-speech-first.png') no-repeat;
	float: left;
	margin: 5px 10px 100px 0px;
}
.ceo-bubble p span:last-child{
	background: url('../images/ceo-speech-last.png') no-repeat;
	float: right;
}
.ceo-bubble h5{
	color: #317da3;
	font-size: 25px;
}
.ceo-content{
	border: none;
}
.ceo-content h2{
	font-family: 'SourceSansPro-Semibold';
	color: #235c82;
	font-size: 58px;
}
.ceo-content > h2 > br{
	display: none;
}
.ceo-content h3{
	font-family: 'SourceSansPro-Regular';
	color: #ffffff;
	font-size: 35px;
}
.ceo-content p{
	color: #ffffff;
	position: absolute;
	bottom: 10px;
	font-size: 24px;
}
/* ceo panel */

.footer{
	padding: 20px 115px;
}
.footer img{
	width: 50px !important;
}
.footer p{
	font-size: 18px;
    color: #a3a3a3;
    margin-top: 25px;
}
.mob-copy{display: none;}
.social-media-icons{
	margin-top: 10px;
}
.social-media-icons a{
	margin-left: 20px;
}
/* footer */

/* modal */
.modal-content{
	text-align: center;
	padding: 50px 0px;
}
.modal-content p{
	font-family: 'SourceSansPro-Light';
	font-size: 36px;
	color: #1d81c4;
}
.modal-content p.mod-bottom{
	font-size: 20px;
	color: #006699;
	margin-top: 100px;
}
.list-container{
	width: 100%;
    margin: 50px auto;
    padding: 0px 100px;
}
.modal-header{border-bottom: 0px; padding: 0px 50px;}
.modal-content ul li{
	font-family: 'SourceSansPro-Semibold';
	font-size: 24px;
	color: #235c82;
	list-style: none;
	list-style-image: url('../images/list-options-sym.png');
    float: right;
    width: 270px;
    line-height: 65px;
    text-align: left;	
}
.modal-form{
	width: 600px;
	margin: 0 auto;
	margin-top: 30px;
}

.modal-backdrop{background: #006699; opacity:0.9 !important;}
.modal-nav-content {
	width: 100%;
	height: auto;
}
h4.mod-banner{
	font-family: 'SourceSansPro-Semibold';
	font-size: 60px;
	color: #235c82;
}
.modal-nav-body {
  margin-top: 143px; 
  text-align: center;
  color: #ffffff;
}
.modal-nav-body h3{
	font-family: 'SourceSansPro-Semibold';
	font-size: 30px;
	color: #0c3f61;
	border-bottom: 2px solid #134668;
	padding-bottom: 10px;	
}
.modal-nav-body ul {
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}
.modal-nav-body ul li {
  text-align: center;
  font-size: 130%;
  padding: 8px;
}
.modal-nav-body ul li a{
	color: #ffffff;
	font-family: 'SourceSansPro-Semibold';
	font-size: 40px;
}
.modal-nav-body ul li a:hover{
	text-decoration: none;
	cursor:pointer;
	color: #66ccff;
}

/* hamburger snippet */
.mainnav {
    width: 100%;
    display: inherit;
    position: fixed;
    z-index: 9999;
    background: rgba(255, 255, 255, 0);
    left: 0px;
}
.mainnav_br-logo {
    position: absolute;
    top: 19px;
    top: 1.17647rem;
    z-index: 9999;
     
}
.mainnav_hamburger {
    width: 30px;
    height: 30px;
    margin: 3em 9em 0 0;
    float: right;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    position: relative;
    outline: 0;
    z-index: 9999;
}
.mainnav_hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #1d81c4;
    opacity: 1;
    filter: alpha(opacity=100);
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.mainnav_hamburger span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
.mainnav_hamburger span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
.mainnav_hamburger span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
.mainnav_hamburger.nav-open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
    background: #ffffff;
}
.mainnav_hamburger.nav-open span:nth-child(2) {
    width: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.mainnav_hamburger.nav-open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 8px;
    background: #ffffff;
}
/* hamburger snippet */

/* mobile */
@media (max-width: 767px) {
	.container-fluid{padding-left: 0px; padding-right: 0px; width: 95%;}
	.ceo-container{width: 100%;}
    .top-banner{background: url('../images/../images/mobile-background.png') no-repeat;  background-size: 100% 90%; padding-top: 100px; background-position: top right; min-height: 300px;font-size:40px; color:#006699;   }
	.top-banner-panel{ margin-right: 1em;}
	.round-button{width: 250px;}
	.round-button a{line-height: 1em;}
	.ceo-content > h2 > br{display: block;}
	.ui-links > span > br, .ceo-content h3, .ceo-content p{display: none;}
	.ceo-remarks{background: url('../images/mb-ceo-large-bottom.jpg') no-repeat; background-position: right; min-height: 825px;}
	.ceo-bubble{margin-top: -60px; margin-left: 20px; margin-right: 20px;}
	.ceo-bubble p, .ceo-bubble h5{font-size: 20px;}
	.ceo-bubble p span:first-child{margin: 5px auto auto 0px;}
	.ceo-content{position: absolute; bottom: 0px; padding: 0px;}
	.ceo-content h2{color: #ffffff; font-size: 45px; text-align: center;}
	.btn-lg{border-radius: 0px; width: 100%;}
	.mainnav{height: 100px;}
	.mainnav_br-logo{margin-left: 2em;}
	.mainnav_br-logo > img{width: 50%;}
	.mainnav_hamburger{margin:2em 1em 0 0;}
	.signup{margin: 0px; text-align:center;}
	.input-group{width: 100%;display: inline-block;}
	.input-group .form-control, .input-group-addon, .input-group-btn{display: inline;}
	.input-group .form-control:first-child{border-radius: 10px; text-align: center; padding-left: 0; margin-bottom: 20px;}
	.input-group-btn:last-child>.btn{width:100%; border-radius: 10px;}
	.modal-nav-body{margin-top: 100px;}
	.footer-p{display: none;}
	.mob-copy{display: block;}
	.social-media-icons{width: 100%;}
	.footer{margin: 10px 0px; padding: 0px; text-align:center; }
	.footer p{line-height: 3em;}
    .col-sm-6{padding-left:0px!important; margin-left:3rem; width:50%;}
    .get-your-money {margin:3rem 0 0 2rem; font-size:21px;}
    .get-your-money-customer {margin-left:2rem; font-size:21px;}
    .become-part{font-size:25px!important;}
    .become-part-nimbyx{width:94px!important; margin-right:0px;}
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
	.container-fluid{background: none;}
	.mainnav{left: 0px; height: 125px;}
    .mainnav_br-logo{margin-left:20px;}
	.top-banner{padding-top: 20%;font-size:6em; color:#006699;}
	.ceo-bubble{width: 50%;}
	.ceo-content h2{color: #ffffff;}
	.ceo-content{background: none; position: absolute; bottom: 0px;}
	.ceo-content p{display: none;}
	.ceo-content > h2 > br{display: block;}
}
/* tablet-landscape */
@media (min-width: 992px) and (max-width: 1199px) {
	.container-fluid, .ceo-content{background: none;}
	.ceo-content{margin-top: 10%;}
	.mainnav{left: 0px; height: 16%;}
    .mainnav_br-logo{margin-left:20px;}
    .top-banner{padding-top: 100px; background-position: top right; min-height: 610px;font-size:6em; color:#006699;   }
	.signup{width: 100%;}
	.quick-links h4{text-align: center; color: #ffffff; font-size: 4em;}
	.ui-links{width: 50%;}
	.ui-links span.ui-caption > br{display: none;}
	.ceo-bubble{width: 60%;}
	.ceo-content p{display: none;}
	.btn-lg{width: 100%;}
	.ceo-content h3{font-size: 3em;}
	.ceo-content h2 > br{display: block;}
	.ceo-content h2{color: #ffffff;}
    .get-your-money {margin-left:1rem}
    .get-your-money-customer {margin-left:1rem}
    .become-part{margin-left:1rem;}
    .footer { padding-left:1rem!important;
    }
}
/* full-web-desktop */
@media (min-width: 1200px) {
	.total-cont{position: relative;}
	.mainnav{height: 130px;}
    .mainnav_br-logo{margin-left:10rem;}
	.top-banner{padding-top: 100px; background-position: top right; min-height: 610px;font-size:6em; color:#006699; margin-left:65px; }
	.top-banner-panel{-webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(80%);margin-top:1rem;}
	.sign-up-top{padding: 65px 0px;}
	.signup{background: none; border: none; float: none; margin: 0 auto; padding-top: 0px;}
	.signup > p{font-size: 2em;}
	.quick-links{padding-bottom:20px;}
	.quick-links h4{text-align: center; color: #ffffff; font-size: 3em;}
	.ui-links{width: 25%;}
	.ui-links span.ui-caption{margin-top: 25px;}
	.ceo-bubble{width: 40%; margin-left: 25%;}
	.container-fluid{background: none;}
	.ceo-content{background: none;}
	/*.btn-lg{width: 45%;}*/
	.ceo-content p{position: inherit; margin-top: 25%; font-size: 1.4em;}
	.ceo-content h2{font-size: 3em;}
    .get-your-money {margin-left:10rem}
    .get-your-money-customer {margin-left:10rem}
    .become-part{margin-left:10rem;}
}
