
@{
    ViewBag.Title = "nimbyx Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header {
    <a class="mainnav_br-logo" href="/"> @*<img src="images/logo-nimbyx.png">*@</a>
    <div class="mainnav_hamburger" tabindex="0" data-toggle="modal" data-target="#nav-modal">
        <span></span>
        <span></span>
        <span></span>
    </div>

}
@section TopBanner{
    <h2>nimbyx is revolutionary software that enables everyone in dentistry to connect with each other and still maintain confidentiality and privacy of your information.</h2>
    <h2>Tell us who you want to connect with.<br>We do the rest.</h2>
}
