@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_OldLayout.cshtml";
}
@section Logo{
    <img src="~/Content/Images/nimbyx-pay-logo.png">
}

@section TopBanner{
    <div class="row top-banner banner-pay" >
        <div class="col-sm-6 top-banner-panel">
            <p class="get-paid">Get Paid Faster</p>
        </div>

    </div>
    <div>
        <div class="get-your-money">
            Get your money sooner with an easy to use way to collect from  your customers. Stop being your
            customers' bank. Get <img src="~/Content/Images/getnimbyxpay.png" />
        </div>
    </div>
}

@section SignUp{
    <div class="row sign-up-top">
    <div class="col-md-12 signup-pay">
        <!--<span class="become-part">Become part of <span class="become-part-nimbyx">nimbyx</span> <button class="btn btn-default btn-lg signup-btn-width" type="button" id="open-form">SIGN UP TODAY</button></span>-->
        <span class="become-part">Become part of <img class="become-part-nimbyx" src="~/Content/Images/nimbyx-logo-white.png"> <button class="btn btn-default btn-lg signup-btn-width" type="button" id="open-form">SIGN UP TODAY</button></span>
    </div>
</div>
}
@section QuickLinks{

}
@section CEORemarks{

}