
@{
    ViewBag.Title = "nimbyx Shop";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}


@section Header {
    <a class="mainnav_br-logo" href="/"></a>
    <div class="mainnav_hamburger" tabindex="0" data-toggle="modal" data-target="#nav-modal">
        <span></span>
        <span></span>
        <span></span>
    </div>

}
@section TopBanner{
    <h2>Cover More Territory</h2>
}
