 
 
        <div id="white_container" class="clearfix row scroll_top">
            <div id="logo_holder" class="show_blue">
                <img src="/Content/images/newlogo-connect_grow_03.png" class="image_blue" />
                <img src="/Content/images/newlogo-connect_grow-white_03.png" class="image_white" />
            </div>
            <div id="hamburger" data-toggle="modal" data-target="#menuModal">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="top_banner" class="row">
            <div class="description">
                <div class="description_1">
                    nimbyx is an on-line connector
                </div>
                <div class="description_2">
                    THAT SEAMLESSLY LINKS DENTISTS, DENTAL LABS AND DISTRIBUTORS
                </div>
                <div class="description_3">
                    to expand your reach and grow your business.
                </div>
            </div>
        </div>
        <div class="row blue_row">
            <div class="signup_container">
                <div class="description">
                    <span>Tell us who you want to connect with.</span>
                    <span>We do the rest.</span>
                </div>
                <div class="input-group signup_form">
                    <input type="text" class="form-control btn_signup_group_email" id="txtNewsLetterEmail"
                           placeholder="Enter your email">

                    <div class="input-group-btn">
                        <button class="btn btn-default btn_signup_group" id="btnSubscribe" type="button">SIGN UP</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row white_row border_bottom_blue">
            <div class="circle_container">
                <div class="circle circle_1">
                    <div class="text_holder">
                        <p><a href="news/index.html" style="color:#ffffff;text-decoration: none;">nimbyx</a></p>

                        <p><a href="news/index.html" style="color:#ffffff;text-decoration: none;">NEWS</a></p>
                    </div>
                </div>
                <div class="circle circle_2">
                    <div class="text_holder">
                        <p><a href="rewards/index.html" style="color:#ffffff;text-decoration: none;">nimbyx</a></p>

                        <p><a href="rewards/index.html" style="color:#ffffff;text-decoration: none;">REWARDS</a></p>
                    </div>
                </div>
                <div class="circle circle_3">
                    <div class="text_holder">
                        <p><a href="lab/index.html" style="color:#ffffff;text-decoration: none;">nimbyx</a></p>

                        <p><a href="lab/index.html" style="color:#ffffff;text-decoration: none;">LAB</a></p>
                    </div>
                </div>
                <div class="circle circle_4">
                    <div class="text_holder">
                        <p><a href="shop/index.html" style="color:#ffffff;text-decoration: none;">nimbyx</a></p>

                        <p><a href="shop/index.html" style="color:#ffffff;text-decoration: none;">SHOP</a></p>
                    </div>
                </div>
                <span class="stretch"></span>
            </div>
            <div class="marging_top_bottom circle_second_set">
                <div class="circle_container_list">
                    <ul>
                        <li>
                            <div class="circle circle_1">
                                <div class="text_holder"><a href="news/index.html" style="text-decoration:none;color: #cebc3b">></a></div>
                            </div>
                            <div class="circle_description">
                                <div class="upper_text">
                                    <span>nimbyx</span><span class="big_title_1"> <a href="news/index.html" class="big_title_1">NEWS</a></span>
                                </div>
                                <div class="lower_text">
                                    <span>Be Better Informed</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="circle circle_2">
                                <div class="text_holder"><a href="rewards/index.html" style="text-decoration:none;color: #ca5e16;">></a></div>
                            </div>
                            <div class="circle_description">
                                <div class="upper_text">
                                    <span>nimbyx</span><span class="big_title_2"> <a href="rewards/index.html" class="big_title_2">REWARDS</a></span>
                                </div>
                                <div class="lower_text">
                                    <span>Build Customer Loyalty</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="circle circle_3">
                                <div class="text_holder"><a href="lab/index.html" style="text-decoration:none;color: #24add7;">></a></div>
                            </div>
                            <div class="circle_description">
                                <div class="upper_text">
                                    <span>nimbyx</span><span class="big_title_3"> <a href="lab/index.html" class="big_title_3">LAB</a></span>
                                </div>
                                <div class="lower_text">
                                    <span>Easy Lab Management</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="circle circle_4">
                                <div class="text_holder"><a href="shop/index.html" style="text-decoration:none;color: #43a831;">></a></div>
                            </div>
                            <div class="circle_description">
                                <div class="upper_text">
                                    <span>nimbyx</span><span class="big_title_4"> <a href="shop/index.html" class="big_title_4">SHOP</a></span>
                                </div>
                                <div class="lower_text">
                                    <span>Sell your product online</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row white_row">
            <div class="ceo_container">
                <div class="image_container">
                    <div class="message_bubble">
                        <p>“We want to make it simple and easy for you to connect with your customers.”</p>

                        <p>Paolo Kalaw - CEO, nimbyx</p>
                    </div>
                </div>
                <div class="signup_today">
                    <div class="description_1">Tell us who you want to connect with.</div>
                    <div class="description_2">We do the rest.</div>
                    <div class="singup_button">
                        <button class="btn btn-singup" data-toggle="modal" data-target="#subscribe">SIGN UP TODAY</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row blue_row small_blue_row">
            <div class="tablet_signup">
                <button class="btn btn-singup" data-toggle="modal" data-target="#subscribe">SIGN UP</button>
            </div>
            <div class="col-lg-offset-6 col-lg-5 col-md-offset-6 col-md-5">
                * We promise to never share your information with a third party.
            </div>
        </div>
        <div class="row white_row" id="footer">
            <div class="footer_type_1">
                <div class="col-lg-8 col-md-6 col-xs-6 copyright">
                    © 2015 All Rights Reserved by nimbyx Ltd.
                </div>
                <div class="col-lg-3 col-md-5 col-xs-5 circle-social-container">
                    <div class="circle-social circle-facebook">
                        <a href="https://www.facebook.com/nimbyx" target="_blank"></a>
                    </div>
                    <div class="circle-social circle-twitter">
                        <a href="https://twitter.com/nimbyx" target="_blank"></a>
                    </div>
                    <div class="circle-social circle-linkedin">
                        <a href="https://www.linkedin.com/company/nimbyx" target="_blank"></a>
                    </div>
                </div>
            </div>
            <div class="footer_type_2">
                <div class="circle-social-container">
                    <div class="circle-social circle-facebook">
                        <a href="https://www.facebook.com/nimbyx" target="_blank"></a>
                    </div>
                    <div class="circle-social circle-twitter">
                        <a href="https://twitter.com/nimbyx" target="_blank"></a>
                    </div>
                    <div class="circle-social circle-linkedin">
                        <a href="https://www.linkedin.com/company/nimbyx" target="_blank"></a>
                    </div>
                </div>
                <div class="copyright">
                    © 2015 All Rights Reserved by nimbyx Ltd.
                </div>
            </div>
        </div>
 
    <div class="modal fade" role="dialog" id="menuModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <ul class="menu_items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/news">nimbyx News</a></li>
                        <li><a href="/rewards">nimbyx Rewards</a></li>
                        <li><a href="http://localhost:51228/shop/">nimbyx Shop</a></li>
                        <li><a href="testangular/index">nimbyx Lab</a></li>
                        <li><a href="contact-us.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="subscribe" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="modal_content_holder">
                        <div class="header_holder">
                            <p><img src="../../Content/images/logo-nimbyx.png" /></p>
                        </div>
                        <div class="sub_text">
                            <p>Learn more about:</p>
                        </div>
                        <!-- add form here -->
                        <form id="modalsignupfrm">
                            <div class="list_container">
                                <ul>
                                    <li>
                                        <input type="checkbox" id="chkNews" name="signupchk[]" value="News">
                                        <label for="chkNews">nimbyx NEWS</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="chkLab" name="signupchk[]" value="Lab">
                                        <label for="chkLab">nimbyx LAB</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="chkShop" name="signupchk[]" value="Shop">
                                        <label for="chkShop">nimbyx SHOP</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="chkPay" name="signupchk[]" value="Pay">
                                        <label for="chkPay">nimbyx REWARDS</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="input-group signup_form">
                                <input type="text" class="form-control btn_signup_group_email" id="txtModalSignUp"
                                       placeholder="Enter your email" name="txtModalSignUp">
                                <div class="input-group-btn">
                                    <button class="btn btn-default btn_signup_group" type="button" id="btnModalSignUp">
                                        SIGN UP
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- add form here -->
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="footer_text">
                        *We never share your information with a third party.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="thankyou" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="header_image_holder">
                        <img src="../../Content/images/logo-nimbyx.png" />
                    </div>
                    <h1 class="header_text">Thank You!</h1>

                    <p class="result">
                        You have successfully been added to our subscriber list and will receive any news
                        updates and more.
                    </p>

                    <p class="social_reminder">In the meantime, please make sure to follow us on</p>

                    <div class="circle-social-container">
                        <div class="circle-social circle-facebook">
                            <a href="https://www.facebook.com/nimbyx" target="_blank"></a>
                        </div>
                        <div class="circle-social circle-twitter">
                            <a href="https://twitter.com/nimbyx" target="_blank"></a>
                        </div>
                        <div class="circle-social circle-linkedin">
                            <a href="https://www.linkedin.com/company/nimbyx" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
