/* base stylesheet */
a{
	font-family: 'SourceSansPro-Semibold';
	color: #ffffff;
}
p{
	font-family: 'SourceSansPro-Light';
	color: #ffffff;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'SourceSansPro-Semibold';
	color: #006699;
}
body{background:#ffffff;}
.container{	background:#ffffff;}
.row {margin-bottom: 0px;}
.row .row {margin-top: 20px;margin-bottom: 0;}
[class*="col-"] {padding-top: 25px;padding-bottom: 15px;}
.row > div{padding: 0px 1.3em}
/* base stylesheet */

/* form elements */
.input-group .form-control:first-child, input{
	width: 453px;
	max-width: 453px;
	height: 63px;
}
button, button.btn-default{
	font-family: 'SourceSansPro-Semibold';
	font-size: 26px;
    color: #ffffff;
    background: #e36d1f;
    border-color: #e36d1f;
    height: 55px;
}
button:hover{
	background: #ffffff;
	color: #e36d1f;	
	border-color: #ffffff;
}
/* form elements */

/* Add Custom rules for site panels below */
/* site panels */
.banner-top{
	background: url('../images/bg-banner-top.jpg') no-repeat;
	background-size: 100%;
	/*mobile*/
	min-height: 343px;
}
.banner-panel{
	width: 100%;
	-webkit-transform: translateY(5em); 
	-ms-transform: translateY(5em); 
	transform: translateY(5em);
}
.banner-panel h1{font-family: 'SourceSansPro-Regular';font-size: 28px;}
.banner-panel h4{font-family: 'SourceSansPro-Light';font-size: 22px;}
.form-top, .before-footer{
	background: #006699;
}
.form-top{padding: 2em;}
div.before-container{padding: 5em 5.5em;}
.ui-links-container{
	border-bottom: 1px solid #006699;
}
.signup > h5, .signup > h6{color: #ffffff;}
.signup h5{font-size: 20px;}
div.signup h5 > span{display: none;}
.ceo-low{
	background: #ffffff;
}
.ceo-img{
	background: url('../images/bg-ceo-lower.png') no-repeat;
	min-height: 345px;
	max-height: 349px;
	position: relative;
}
.ceo-panel{
	-webkit-transform: translateY(15em); 
	-ms-transform: translateY(15em); 
	transform: translateY(15em);	
}
.ceo-speech{
	position: absolute;
	right: -20%;
	top: 3em;
}
.ceo-speech h5{color: #515151; font-family: 'SourceSansPro-Light'; font-size: 18px;}
.ceo-speech h6{color: #3ec5ee; font-size: 18px; font-family: 'SourceSansPro-Regular';}
footer{padding: 2em 1.5em;}
footer p{color: #a3a3a3;}
.social-media-icons{padding-bottom: 2em;}
.social-media-icons > a > img{width: 55px;}
/* site panels */

/* ui icons */
.round-button {
	width:100%;
	display: inline-block;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;    
    background: #4679BD; 
    box-shadow: 0 0 10px #6D6D6D;
}
.round-button-circle:hover {
	box-shadow: 2px 2px 12px #373737;
}
.round-button-circle > span{
	font-family: 'SourceSansPro-Semibold';
    font-size: 4em;
    color: #ffffff;
    display: block;
    line-height: 0em;
    margin-top: 40%; 	
}
.btn-gold {background: #e3ce3b;}
.btn-orange {background: #f27036;}
.btn-blue { background: #3ec5ee;}
.btn-green {background: #5ebb4e;}
.ui-caption{float: right;}
.ui-caption p:first-child{color: #006699; font-size: 22px;}
.ui-caption p:last-child{color: #006699; font-size:18px;}
.ui-caption p > span.gold{color: #e3ce3b;}
.ui-caption p > span.orange{color: #f27036;}
.ui-caption p > span.blue{color:#3ec5ee;}
.ui-caption p > span.green{color:#5ebb4e;}
/* ui icons */

/* contactus */
.top-form-panel{background: #ffffff; border: none; margin-top: 10em;}
.top-form-icons{margin-top: 12em;}
.top-form-panel h1{font-family:'SourceSansPro-Light'; color: #58b5e6;}
.top-form-panel h2{font-family:'SourceSansPro-Regular'; color: #006699;}
.round-sml-container, .top-form-icons{background: #ffffff; border: none;}
.round-button-sml{}
.round-sml{width: 90px;}
.round-sml >div.round-button-circle >a.round-button{font-size: 1.3em; padding-top: 40%;}
#contactForm > .form-group{background: #ffffff; border: none;}
.contact-form{border-top: 1px solid #006699;padding-top: 50px;}
textarea{resize:none;}
/* contactus */

/* share page */
.share-header h3{font-family: 'SourceSansPro-Regular'; color: #0f6eaf; font-size:30px;}
.logo-share-container, .share-list, .link-holder, .share-header, .thoughts, .share-list-sml{background: #ffffff; border: none;}
.share-list > ul {list-style: none; padding: 0.3em;}
.share-list > ul > li{padding: 5px 20px; margin: 2px 0px; }
.share-list > ul > li > a{color: #ffffff; font-family: 'SourceSansPro-Regular'; font-size: 25px; line-height: 2em;}
.share-list > ul > li > a{text-decoration: none;}
.share-list > ul > li > a> span> img{width: 30px; margin-right: 16px;}
.share-list > ul > li.email{background: #e36d1f;}
.share-list > ul > li.text{background: #e3ce3b;}
.share-list > ul > li.facebook{background: #3c5a9a;}
.share-list > ul > li.twitter{background: #7bc4f7;}
.share-list > ul > li.linkedin{background: #017fb2;}
.share-contact-form{border-top: 2px solid #006699; padding-top: 40px;}
#shareForm > .form-group { background: #ffffff; border: none;}
/* share page */

/* mobile - general */
@media (max-width: 767px){
	.input-group{width: 100%;display: inline-block;}
	.input-group .form-control, .input-group-addon, .input-group-btn{display: inline;}
	.input-group .form-control:first-child{border-radius: 10px; text-align: center; padding-left: 0; margin-bottom: 20px;}
	.input-group-btn:last-child>.btn{width:100%; border-radius: 10px;max-width: 260px;}	

	.row > div.signup{padding: 0 4.5em;}
	.row > div.quick-links{width: 100%;}

	.input-group .form-control:first-child{max-width: 260px;}
	#open-form-bg{width: 100%;}

	.container-fluid{padding-left: 0px; padding-right: 0px; width: 95%;}
	.form-top{padding: 2em 0;}

	.banner-top{background: url('../images/bg-mb-banner-top.jpg') no-repeat; min-height: 340px; background-position: bottom right; background-size: 100% 343px;}
	.banner-panel{-webkit-transform: translateY(10em); -ms-transform: translateY(10em); transform: translateY(10em);}

	.ui-links{margin: 2em 3em;}
	.round-button{width: 85px;}
	.round-button-circle > span{color: #efefef; font-size: 2em; margin-top: 50%; margin-left: 40%;}
	.ui-caption{display: block; margin-top: 1em; width: 60%;}

	.ceo-img{float: left; max-width: 200px; min-width: 180px; background-size: 210px 300px; background-position: bottom right;}
	.ceo-panel{float: left;}	
	.ceo-speech{right: -80%;}

	footer{text-align: center;}
	.footer-p{display: none;}
	.mob-copy{display: block;}
	.social-media-icons{width: 100%;}	
	/* contact and share */
	.share-list, .thoughts{display:block;}
	.share-contact-form, .share-list-sml{display: none;}	
	.share-header, .thoughts{text-align: center; padding-bottom: 0px; padding-top: 0px;}
	.logo-share-container{text-align: center;}
	.logo-share-container > img{width: 200px;}
}
/* mobile - portrait */
@media (max-width: 767px) and (orientation: portrait) {
	/* contact and share pages */
	.top-form-panel{margin-top: 6em; margin-bottom: 0px; padding-bottom: 0px;}
	.top-form-icons{margin-top: 0em; padding-top:0px;}
	.top-form-panel h2{font-size:20px;}
	.round-sml{width: 100%;}
	.round-sml >div.round-button-circle >a.round-button{font-size: 1em;}
	#contactForm > .form-group{padding-bottom: 0px;padding-top: 0px;}
}

/* mobile - landscape */
@media (max-width: 767px) and (orientation: landscape){
	.ui-links{margin: 2em 12em;}
	.ceo-panel{float: right;}

	/* contact and share pages */
	.top-form-panel{margin-top: 6em;}	
	.top-form-icons{margin-top: 0em;}
	.round-sml{width: 100%;}
	.round-sml >div.round-button-circle >a.round-button{font-size: 1.5em;}
	#contactForm > .form-group{padding-bottom: 0px;padding-top: 0px; width: 50%; float: left;}
	#contactForm > .form-group:nth-last-child(-n+2){width: 100%;}
	#contactForm > .form-group > textarea{width: 100%;}
}

/* tablet - portrait */
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
	.ceo-img{    min-height: 332px;
    background-position-x: -25px;
    background-position-y: bottom;
    max-width: 290px;
    background-size: 253px;}
	.ceo-speech{right: -50%;}
	.banner-top{min-height: 306px;}
	.banner-panel {
	    width: 100%;
	    -webkit-transform: translateY(10em);
	    -ms-transform: translateY(10em);
	    transform: translateY(10em);
	}		
	.signup{width:400px; max-width: 400px; margin: 0 auto;}
	.signup h6{font-family: 'SourceSansPro-Light'; font-size: 20px;}
	.signup button{float: right; width: 250px; border-radius: 30px; font-size: 20px;}
	div.quick-links{padding-left: 2em;}
	div.ui-links {
	    padding: 2em;
	    width: 350px;
	    float: left;
	    max-width: none;
	}
	.ui-caption {
	    width: 190px;
	    margin-top: 1em;
	}	
	.round-button{width: 90px; max-width: 90px;}	
	.round-button-circle span:first-child{display: none;}
	.round-button-circle span:last-child{
	    font-size: 2em;
	    line-height: 1.5em;
	    margin-top: 30%;
	    margin-left: -2%;
	    text-align: center;
	}	
	.input-group{width: 100%;display: inline-block;}
	.input-group .form-control, .input-group-addon, .input-group-btn{display: inline;}
	.input-group .form-control:first-child{border-radius: 10px; text-align: center; padding-left: 0; margin-bottom: 20px; width: 100%;}
	.input-group-btn:last-child>.btn{width:100%; border-radius: 10px;}	
	.ceo-panel{
	    -webkit-transform: translateY(17em);
	    -ms-transform: translateY(17em);
	    transform: translateY(17em);
	    width: 465px;
	    max-width: 465px;	    
	}
	.ceo-panel h4{font-size: 24px;}
	.ceo-panel h4 > br{display: none;}
	.ceo-panel h5{font-family: 'SourceSansPro-Light'; font-size: 20px;}
	#open-form-bg{width: 760px;
    margin-left: -15px;
    max-width: 760px;
    border-radius: 0px;}

    p.mob-copy{display: none;}

	/* contact and share pages */
	.top-form-panel{margin-top: 10em;}	
	.top-form-panel{width: 100%; float: none;}
	.top-form-icons{width: 100%; float: none; padding-top: 0px;}
	.top-form-panel h2 > br{display: none;}
	.round-sml{width: 140px;}
	#contactForm > .form-group{padding-bottom: 0px;padding-top: 0px; width: 50%; float: left;}
	.contact-form-container{width: 100%; margin: 0 auto;}
	#contactForm > .form-group:nth-last-child(-n+2){width: 100%;}	
	#send-contact-form{border-radius: 0px; width: 100%;}
	.share-list, .thoughts{display: none;}
	.share-contact-form, .share-list-sml{display: block;}
	.link-holder, .share-list-sml{width: 50%; float: left;}
	.link-holder > .input-lg{height: 70px;}
	.share-list-sml > a > img{width: 70px;}
	#shareForm > .form-group{width: 50%; float: left; padding-bottom: 0px; padding-top: 0px;}
	#shareForm > .form-group:nth-last-child(-n+3){width: 100%;}
}

/* tablet - landscape */
@media (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
	.ceo-img{    min-height: 332px;
    background-position-x: -25px;
    background-position-y: bottom;
    max-width: 290px;
    background-size: 253px;}
	.ceo-speech{right: -50%;}
	.banner-top{min-height: 306px;}
	.banner-panel {
	    width: 100%;
	    -webkit-transform: translateY(10em);
	    -ms-transform: translateY(10em);
	    transform: translateY(10em);
	}		
	.signup{width:474px; max-width: 475px; margin: 0 auto; text-align: center;}
	.signup h5{font-family: 'SourceSansPro-Light'; font-size: 18px;}
	.signup button{float: right; width: 250px; border-radius: 30px; font-size: 20px;}
	div.quick-links{padding-left: 2em;}
	div.ui-links {
	    padding: 2em;
	    width: 160px;
	    float: left;
	    max-width: none;
	}
	.ui-caption {
	    width: 190px;
	    margin-top: 1em;
	}	
	div.ui-links-margin{
		width: 700px;
		max-width: 700px;
		margin: 0 auto;		
	}
	div.quick-links h4{display: none;}
	.round-button{width: 90px; max-width: 90px;}	
	.round-button-circle span:first-child{display: none;}
	.round-button-circle span:last-child{
	    font-size: 1em;
	    line-height: 1.5em;
	    margin-top: 30%;
	    margin-left: -2%;
	    text-align: center;
	    font-family: 'SourceSansPro-Light';
	}	
	.ceo-panel{
	    -webkit-transform: translateY(17em);
	    -ms-transform: translateY(17em);
	    transform: translateY(17em);
	    width: 465px;
	    max-width: 465px;	
	    float: right;    
	}
	.ceo-panel h4{font-size: 24px;}
	.ceo-panel h4 > br{display: none;}
	.ceo-panel h5{font-family: 'SourceSansPro-Light'; font-size: 20px;}
	#open-form-bg{width: 100%;
    margin-left: -15px;
    max-width: 100%;
    border-radius: 0px;
	display: block !important;}
	#open-form{display: none;}
    div.signup h5 > span{display: inline-block;}
    div.signup h6{display: none;}
    #subscribebottom{width: 329px; margin: 0 auto;}
    .input-group .form-control:first-child, input{width: 227px; max-width: 227px; height: 55px; border-top-left-radius: 30px; border-bottom-left-radius: 30px;}
    .input-group-btn:last-child>.btn{width: 102px; max-width: 102px;}

    p.mob-copy{display: none;}
	.banner-panel h4{display: none;}
	.before-footer{display: none;}


	/* contact and share pages */
	.top-form-panel, .top-form-icons{margin-top: 10em;}	
	.contact-form-container{width: 80%; margin: 0 auto;}
	#send-contact-form{border-radius: 0px;}
	.share-header{width: 100%;}
	.share-list, .thoughts{display: none;}
	.share-contact-form, .share-list-sml{display: block;}
	.link-holder, .share-list-sml{width: 50%; float: left;}
	.link-holder > .input-lg{height: 70px;}
	.share-list-sml > a > img{width: 70px;}
	#shareForm > .form-group{width: 50%; float: left; padding-bottom: 0px; padding-top: 0px;}
	#shareForm > .form-group:nth-last-child(-n+3){width: 100%;}
}

/* full-web-desktop */
@media (min-width: 1200px) {
	.row > div {
	    padding: 0px 5.5em;
	    max-width: 1440px;
	    margin: 0 auto;
	}
	div.ceo-img{    min-height: 332px;
    background-position-x: 0px;
    background-position-y: bottom;
    max-width: 290px;
    background-size: 253px;}
	.ceo-speech{right: -50%;}
	.banner-top{min-height: 306px;}
	.banner-panel {
	    width: 100%;
	    -webkit-transform: translateY(10em);
	    -ms-transform: translateY(10em);
	    transform: translateY(10em);
	}		
	.signup{width:474px; max-width: 475px; margin: 0 auto; text-align: center;}
	.signup h5{font-family: 'SourceSansPro-Light'; font-size: 18px;}
	.signup button{float: right; width: 250px; border-radius: 30px; font-size: 20px;}
	div.quick-links{padding-left: 2em;}
	div.ui-links {
	    padding: 2em;
	    width: 160px;
	    float: left;
	    max-width: none;
	}
	.ui-caption {
	    width: 190px;
	    margin-top: 1em;
	}	
	div.ui-links-margin{
		width: 800px;
		max-width: 800px;
		margin: 0 auto;		
	}
	div.quick-links h4{display: none;}
	.round-button{width: 90px; max-width: 90px;}	
	.round-button-circle span:first-child{display: none;}
	.round-button-circle span:last-child{
	    font-size: 1em;
	    line-height: 1.5em;
	    margin-top: 30%;
	    margin-left: -2%;
	    text-align: center;
	    font-family: 'SourceSansPro-Light';
	}	
	.ceo-panel{
	    -webkit-transform: translateY(11em);
	    -ms-transform: translateY(11em);
	    transform: translateY(11em);
	    width: 465px;
	    max-width: 465px;	
	    float: right;    
	}
	.ceo-panel h4{font-size: 24px;}
	.ceo-panel h4 > br{display: none;}
	.ceo-panel h5{font-family: 'SourceSansPro-Light'; font-size: 20px;}

	#open-form{display:block;}
    div.signup h5 > span{display: inline-block;}
    div.signup h6{display: none;}
    #subscribebottom{width: 329px; margin: 0 auto;}
    .input-group .form-control:first-child, input{width: 227px; max-width: 227px; height: 55px; border-top-left-radius: 30px; border-bottom-left-radius: 30px;}
    .input-group-btn:last-child>.btn{width: 102px; max-width: 102px;}

    p.mob-copy{display: none;}
	.banner-panel h4{display: none;}
	div.before-footer{display: block;padding:2em 0em;}
	div.before-container p{float: right;}


	/* contact and share pages */
	.top-form-panel, .top-form-icons{margin-top: 10em;}	
	.top-form-panel{width: 50%; float: left;}
	.top-form-icons{width: 50%; float: left; padding-top: 50px;}
	.top-form-panel h2 > br{display: none;}
	.round-sml{width: 74px;}
	#contactForm > .form-group{padding-bottom: 0px;padding-top: 0px; width: 50%; float: left;}
	.contact-form-container{width: 70%; margin: 0 auto;}
	#contactForm > .form-group:nth-last-child(-n+2){width: 100%;}	
	#send-contact-form{border-radius: 15px; width: 200px; float: right;}	
	.share-header{width: 100%;}
	.share-list, .thoughts{display: none;}
	.share-contact-form, .share-list-sml{display: block;}
	.link-holder, .share-list-sml{width: 50%; float: left;}
	.link-holder > .input-lg{height: 70px;}
	.share-list-sml > a > img{width: 70px;}
	#shareForm > .form-group{width: 50%; float: left; padding-bottom: 0px; padding-top: 0px;}
	#shareForm > .form-group:nth-last-child(-n+3){width: 100%;}
	#send-share-form{float: right;}
	footer{	    padding: 2em 5.5em;
	    max-width: 1440px;
	    margin: 0 auto;}
}